*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(orange,red);
    direction: rtl;
}
.resize{
    width: 500px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    padding: 25px 30px;
    border-radius: 5px;
    text-align: center;
}
.resize textarea{
    outline: none;
    margin: 10px 0;
    resize: none;
    width: 100%;
    height: 53px;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    overflow-y: hidden;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
}